
@model IEnumerable<Shopping_Cart_ASP.NET_5.Models.Product_Item>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Product.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Product.Price)</th>
            <th>@Html.DisplayNameFor(model => model.Quantity)</th>
            <th>Sub-Total</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cart in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => cart.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => cart.Product.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => cart.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => (cart.SubTotal))
                </td>
                <td>
                    @Html.ActionLink("+", "Add", "Cart", new { sku = cart.Product.Sku }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("-", "Minus", "Cart", new { sku = cart.Product.Sku }, new { @class = "btn btn-danger" })

                </td>
                <td>
                    @Html.ActionLink("Remove", "Remove", "Cart", new { sku = cart.Product.Sku }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
        <tr>
            <td colspan="5" style="text-align:right">
                Total: @ViewBag.total
            </td>
        </tr>
    </tbody>
</table>